:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}
body{
  font-family: var(--primary-font);
  margin: 0;
}
.header{
  margin-left: 0.5vw;
  margin-right: 1.5vw;
  width: 98vw;
  margin-top: 1vh;
  box-shadow: 1px 3px 10px 1px rgb(204, 204, 204);
  background-color: var(--light);
}
.footer{
  margin-left: 0.5vw;
  margin-right: 1.5vw;
  width: 98vw;
  margin-top: 1vh;
  box-shadow: 1px 3px 10px 1px rgb(204, 204, 204);
  background-color: var(--light);
}
.header-logo {
  width: 7vw;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
  padding-top: 2vh;
}
.header h2{
  width: 100%;
  font-family: var(--secondary-font);
  color: var(--dark);
  font-size: 2rem;
  margin: 0;
  text-align: center;
}
.header p{
  text-align: center;
  margin: 0;
  padding-top: 1vh;
  padding-bottom: 3vh;
}
.main{
  margin-left: 0.5vw;
  margin-right: 1.5vw;
  width: 98vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.bio-avatar{
  background-image: url(./images/avatar.jpg);
  width: 120px;
  border-radius: 50%;
  height: 120px;
  background-position: center;
  background-size: cover;
  margin: 2vh auto 1vh;
}
.bio-header h2{
  font-family: var(--secondary-font);
  text-align: center;
  margin: 0;
}
.bio-header p{
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.bio-info{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.bio-info p{
  margin-top: 0.5vh;
  margin-bottom: 0;
}
.galery{
  margin-right: 1vw;
  margin-top: 1vh;
  box-shadow: 1px 3px 10px 1px rgb(204, 204, 204);
  background-color: var(--light);
}
.bio{
  height: max-content;
  margin-left: 0;
  margin-top: 1vh;
  box-shadow: 1px 3px 10px 1px rgb(204, 204, 204);
  background-color: var(--light);
}
.bio-links{
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 2vh;
}
.footer-logo{
  width: 3vw;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
  padding-top: 2vh;
}
.footer h2 {
  font-family: var(--secondary-font);
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  margin-top: 1vh;
}
.footer p:nth-child(2n+1) {
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
}
.footer p:nth-child(2n) {
  text-align: center;
  margin: 0;
  padding-bottom: 2vh;
}
.footer{
  margin-bottom: 1vh;
}
.galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 10vh);
  column-gap: 15px;
  row-gap: 7px;
  align-content: start;
  padding: 2vw;
}
.galery-img{
  width: 20vw;
  object-fit:cover;  
}
.galery-img:nth-child(1){
  height: 20vh;
  grid-row: 1/3;
}
.galery-img:nth-child(2){
  height: 31vh;
  grid-row: 1/4;
}
.galery-img:nth-child(3){
  height: 53vh;
  grid-row: 1/6;
}
.galery-img:nth-child(4){
  height: 42vh;
  grid-row: 3/7;
}.galery-img:nth-child(5){
  height: 20vh;
  grid-row: 4/6;
}
.galery-img:nth-child(6){
  height: 31vh;
  grid-row: 7/10;
}
.galery-img:nth-child(7){
  height: 31vh;
  grid-row: 6/9;
}
.galery-img:nth-child(8){
  height: 20vh;
  grid-row: 6/8;
}
.galery-img:nth-child(9){
  height: 20vh;
  grid-row: 10/12;
}
.galery-img:nth-child(10){
  height: 42vh;
  grid-row: 9/13;
}
.galery-img:nth-child(11){
  height: 53vh;
  grid-row: 8/13;
}
.galery img {
  border-radius: 5px;
}
@media (max-width: 1240px) {
  body{
    font-size: 0.7rem;
  }
  .galery-img{
    object-fit: cover;  
  }
}
@media (pointer: fine){
  .bio{
    position: sticky;
    top: 1vh;
  }
}