.hidden{
    display: none;
}
#tweetItems{
    text-align: center;
}
#modifyItem{
    text-align: center;
}
#alertMessage{
    background-color: rgb(199, 199, 199);
    padding: 20px;
    color: white;
    width: 400px;
    height: 100px;
    position: absolute;
    left: 2px;
    top: 2px;
}
#modifyItemInput{
    height: 70px;
}
ul{
    list-style-type: none;
    text-align: left;
    width: 300px;
    margin: 0 auto;
}
button{
    cursor: pointer;
}
li > span {
    cursor: pointer;
}