.calculator{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: rgb(41, 41, 179);
    width: 20vw;
    height: auto;
    margin: 50px;
}
.inputValue{
    margin-top: 4vh;
    width: 15vw;
    height: 4vh;
    text-align: right;
    padding: 5px;
    font-size: 1.2rem;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 15vw;
}
.buttons-row{
    width: 100%;
    display: flex;
}
.buttons-row-item{
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    width: 3.5vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(87, 141, 241);
    margin: 2px;
    border: 2px solid rgb(1, 20, 56);
}
.circle{
    width: 25px;
    height: 25px;
    border: 2px solid red;
    border-radius: 50%;
}
.logs{
    padding-top: 50px;
    width: 20vw;
    height: 45vh;
    overflow: auto;
}
.main-content{
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.logs-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}
.circle:hover{
    background-color: red;
    cursor: pointer;
}
.closeIcon:hover{
    color: red;
    cursor: pointer;
}
.toggleColor{
    background-color: red;
}
